<div class="text-content">
	REGISTRASI BERHASIL
	<br>
	<br>
	Terima Kasih telah mendaftar di Turnamen Garena 3 vs 3!
	<br>
	<br>
	Untuk info lebih lanjut, kunjungi Forum Garena Indonesia <a href="#">di sini</a>
	<br>
	<br>
	Garena, Connecting World Gamers!
</div>